*{
margin:0px;
padding:0px;
color:white;
font-family:vardana, sans-serif;
}

img{
border-radius:10px;
}

.main{
background-color:black;
height:6210px;
width: 100%;
margin:auto;
}

ul{
list-style:none;
}

nav ul li{
float:left;
padding:10px 20px;
margin-top:20px;
}

#nav1{
margin:10px 0px 0px 60px;
font-size:32px;
}

#nav2{
float:right;
padding:10px 20px;
margin-top:20px;
margin-right:40px;
background-color:blue;
border-radius:10px;
color:black
}

.ul1{
background-color:gray;
min-height:160px;
width:140px;
margin-top:20px;
border-radius:10px;
}

li ul li{
clear:both;
margin:0px;
}

ul li ul{
display:none;
position:absolute;
}

li:hover ul{
display:block;
}

header{
//background-color:red;
height:800px;
}

.head{
	margin-top:20px;
	line-height: 1.2;
}

.head1{
clear:both;
//background-color:gray;
min-height:200px;
width:500px;
margin:200px 0px 0px 100px;
float:left;
}

.head2{
font-size:24px;
margin-bottom:20px;
}

.head3{
font-size:34px;
font-weight: bold;
}

.head4{
float:left;
padding:10px 20px;
margin-top:20px;
margin-right:20px;
background-color:blue;
border-radius:10px;
color:black;
}

.head5{
float:left;
padding:8px 16px;
margin-top:20px;
margin-right:20px;
background-color:black;
border-radius:10px;
border:2px solid gray;
}

.i{
float:right;
margin:100px 100px 0px 0px;
}

section{
//background-color:red;
height:1000px;
}

.article1{
//background-color:yellow;
height:400px;
}

.p1{
float:left;
font-size:32px;
margin-left:100px;
}

.p2{
float:right;
padding:6px 16px;
border:2px solid gray;
border-radius:10px;
margin-right:100px;
}

.p{
	float:left;
	background-color:#444;
	height:200px;
	width:400px;
	margin:20px 0px 0px 100px;
	border-radius:10px;
}

.p3{
float:left;
background-color:#444;
height:200px;
width:400px;
margin:20px 0px 0px 60px;
border-radius:10px;
}

.p4{
float:left;
height:200px;
width:150px;
//background-color:green;
border-radius:20px;
}

.p5{
float:left;
height:200px;
width:250px;
//background-color:#303030;
}

#s1{
margin:20px;
}

#s2{
margin:20px;
}

#s3{
margin:20px;
padding:6px 16px 6px 16px;
background-color:black;
border:2px solid gray;
border-radius:10px;
text-align:center;
}

.article2{
//background-color:blue;
height:600px;
}

.a1{
clear:both;
//background-color:gray;
min-height:300px;
width:600px;
margin:150px 0px 0px 100px;
float:left;
}

.a2{
margin-bottom:20px;
}

.a3{
font-size:42px;
font-weight: bold;
}

.a4{
width:120px;
padding:10px 20px;
margin-top:20px;
margin-right:20px;
background-color:blue;
border-radius:10px;
color:black;
text-align: center;
}

.article3{
//background-color:blue;
height:1000px;
}

.h1{
font-size:42px;
margin-left:100px;
margin-top: 100px;
}

.h2{
font-size:20px;
margin:20px 200px 0px 100px;
color:gray;
}

.i1{
float:left;
margin:60px 0px 0px 35px;
}

.i2{
float:left;
margin:20px 0px 0px 35px;
}

.article4{
//background-color:blue;
height:600px;
}

#b{
clear:both;
padding-top:40px;
margin-left:50px;
//background-color:blue;
height:300px;
}

.b1{
font-size:42px;
margin-left:100px;
float:left;
}

.b2{
float:right;
padding:6px 16px;
border:2px solid gray;
border-radius:10px;
margin-right:120px;
}

.b3{
float:left;
background-color:#444;
height:230px;
width:400px;
margin:20px 0px 0px 50px;
border-radius:10px;
}

.b4{
margin:20px 0px 0px 20px;
}

.b5{
width:140px;
padding:10px 20px;
margin:20px 0px 0px 20px;
background-color:blue;
border-radius:10px;
color:black;
text-align: center;
}

.b6{
width:140px;
padding:10px 20px;
margin:20px 0px 0px 20px;
background-color:gray;
border-radius:10px;
color:white;
text-align:center;
}

#b7{
height:110px;
width: 85%;
margin:0px 100px 0px 100px;
background-color:black;
border:2px solid gray;
border-radius:10px;
}

.b8{
padding:30px 0px 0px 40px;
clear:both;
}

.b9{
padding:10px 0px 0px 40px;
float:left;
color:gray;
}

.b10{
width:130px;
padding:10px 20px;
margin:-15px 40px 0px 0px;
background-color:gray;
border-radius:10px;
color:white;
text-align:center;
float:right;
}

.article5{
background-color:#161616;
height:1500px;
}

.article5 ul{
padding-top: 100px;
}

.c{
clear:both;
font-size:20px;
margin:20px 200px 0px 100px;
padding-top:20px;
color:gray;
}

.c1{
float:left;
padding:10px 20px;
margin:40px 0px 0px 100px;
background-color:gray;
border-radius:10px;
color:white;
}

.c2{
float:left;
padding:10px 20px;
margin:40px 0px 0px 20px;
}

section article ul .c2:hover{
background-color:gray;
border-radius:10px;
color:white;
}

.c3{
clear:both;
margin:60px 0px 0px 100px;
float:left;
font-size:32px;
}

.c4{
margin:60px 450px 0px 0px;
float:right;
padding:6px 16px;
border:2px solid gray;
border-radius:10px;
}

.c5{
clear:both;
float:right;
font-size:32px;
margin:-40px 220px 0px 0px;
}

.c6{
height:450px;
width:300px;
background-color: #161616;
margin-left:40px;
float:left;
border-radius: 20px;
}

.c7{
	clear: both;
	list-style: none;
	margin-left: 60px;
	padding-top: 30px;
}

.article5 .c7 .c6 h1{
	margin-top: 10px;
	font-size: 16px;
}

.article5 .c7 .c6 p{
	margin-top: 10px;
	font-size: 14px;
	color: gray;
}

.c11{
height:420px;
width:300px;
background-color: #303030;
margin-left:20px;
float:left;
border-radius: 20px;
}

.c8{
padding: 0px 20px 10px 20px;
font-size: 18px;
margin-top: -60px;
}

.c9{
padding: 10px 20px 00px 20px;
color: blue;
font-size: 18px;
}

.c10{
	padding: 10px 10px;
	background-color: gray;
	width: 160px;
	border-radius: 10px;
	margin: 80px 00px 0px 20px;
	text-align: center;
}

.c12{
	clear: both;
	color: gray;
	width: 800px;
	margin-left: 100px;
	padding-top: 20px;
}

.c13{
height:350px;
width:96%;
//background-color: white;
margin-left:60px;
margin-top: 60px;
}

.c13 li{
height:320px;
width:300px;
background-color: #303030;
margin-left:40px;
float:left;
border-radius: 20px;
}

.c13 li h1{
	margin: 20px 0px 0px 20px;
}

.c13 li p{
	margin: 10px 20px 0px 20px;
	color: gray;
}

.article6{
	height: 800px;
	//background-color: blue;
}

.article6 h1{
	margin-left: 80px;
	padding-top: 100px;
}

.article6 div{
	clear: both;
	float: right;
	margin-right: 80px;
}

.article6 div img{
	border-radius: 0px;
	margin-right: 20px;
}

.article6 .d1{
	float: left;
}

.article6 .d1 ul{
	float: left;
	margin: 40px 0px 0px 80px;
}

.article6 .d1 ul .d2{
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
	color: white;
}

.article6 li{
	margin-top: 10px;
	color:gray;
}

.article6 li:hover{
	color: white;
}

.article6 p{
	clear: both;
	margin-left: 100px;
	padding-top: 100px;
	color: gray;
}

.article6 h4{
	color: white;
	background-color: gray;
	border-radius: 10px;
	float: right;
	padding: 10px 20px;
	margin-right: 80px;
}

.article6 .d3{
	margin-left: 60px;
}

.article6 .d3 li{
	margin: 40px 0px 0px 40px;
	float: left;
}

.carousel-wrapper {
  position: relative;
  width: 97%;
  height: 50vh;
  margin: auto;
  overflow: hidden;
  background: black;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-container {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  scroll-behavior: smooth;
  padding: 20px 10px;
  scrollbar-width: none;
}

.scroll-container img {
  width: 500px;
  flex-shrink: 0;
  border-radius: 10px;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgb(255, 255, 255, 0.5);
  color: black;
  font-size: 30px;
  padding: 30px;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
  user-select: none;
}

.left-arrow {
  left: -30px;
}

.right-arrow {
  right: -30px;
}
